g++
gcc

data
data/*
!data/.placeholder

training-runs
training-runs/*
out/*
sample_sheets/*


*.zip

**/__pycache__
__pycache__
.ipynb_checkpoints/
tags
*.swp
*.pth
*.pt
*.npz
*.tar
*.gz
*.pkl
*.mp4
*.pyc
